body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --heading-heading-4: Barlow;
    --font-inter: Inter;
    --font-khand: Khand;
  
    /* font sizes */
    --heading-heading-4-size: 18px;
    --font-size-5xl: 24px;
  
    /* Colors */
    --theme-color-grey-5: #a3a3a3;
    --color-white: #fff;
    --theme-color-dark: #464255;
    --color-gray: #939393;
    --color-dimgray: #535353;
  
    /* Border radiuses */
    --br-11xl: 30px;
  }
  