.change-password-child {
    position: absolute;
    top: 20px;
    left: 283px;
    border-radius: var(--br-11xl) var(--br-11xl) 0 0;
    background-color: var(--color-white);
    width: 1135px;
    height: 820px;
  }
  .removal-1-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 131px;
    height: 115px;
    object-fit: cover;
  }
  .washee-clean {
    position: absolute;
    top: 108px;
    left: 8px;
    line-height: 20px;
    display: flex;
    align-items: center;
    width: 109px;
    height: 14px;
  }
  .removal-1-parent {
    position: absolute;
    top: 20px;
    left: 78px;
    width: 131px;
    height: 122px;
    font-size: 22px;
    color: #008a0e;
    font-family: var(--font-khand);
  }
  .icon {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  .order-list {
    left: calc(50% - 39.5px);
    font-weight: 500;
    display: inline-block;
    width: 123px;
  }
  .icon-parent,
  .icon1,
  .order-list {
    position: absolute;
    top: 0;
  }
  .icon-parent {
    left: 2px;
    width: 167px;
    height: 22px;
    cursor: pointer;
  }
  .icon1 {
    left: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  .service-detail {
    position: absolute;
    top: 0;
    left: calc(50% - 32.5px);
    font-weight: 500;
  }
  .icon-group {
    position: absolute;
    top: 68px;
    left: 2px;
    width: 153px;
    height: 22px;
    cursor: pointer;
  }
  .done-round-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
  }
  .completed-order {
    position: absolute;
    top: 2px;
    left: calc(50% - 44px);
    font-weight: 500;
  }
  .done-round-parent {
    position: absolute;
    top: 128px;
    left: 0;
    width: 180px;
    height: 24px;
    cursor: pointer;
  }
  .side-menu {
    position: absolute;
    top: 185px;
    left: 51px;
    width: 180px;
    height: 152px;
  }
  .change-password-item {
    position: absolute;
    top: 19px;
    left: 283px;
    border-radius: var(--br-11xl) var(--br-11xl) 0 0;
    background-color: rgba(0, 255, 150, 0.3);
    width: 1135px;
    height: 67px;
  }
  .change-password-inner,
  .ellipse-icon {
    position: absolute;
    top: 29px;
    left: 1314px;
    border-radius: 50%;
    width: 52px;
    height: 47px;
    object-fit: cover;
  }
  .ellipse-icon {
    top: 128px;
    left: 764px;
    width: 173px;
    height: 164px;
  }
  .icon2 {
    position: absolute;
    top: 40px;
    left: 1237px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
  }
  .group-icon {
    height: 2.74%;
    width: 1.6%;
    top: 4.74%;
    right: 16.25%;
    bottom: 92.52%;
    left: 82.15%;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }
  .fi-rr-settings-icon,
  .group-icon,
  .icon3 {
    position: absolute;
    overflow: hidden;
  }
  .icon3 {
    top: 41px;
    left: 1131px;
    width: 23px;
    height: 23px;
    cursor: pointer;
  }
  .fi-rr-settings-icon {
    top: 38px;
    left: 331px;
    width: 26px;
    height: 26px;
  }
  .group-child {
    position: absolute;
    top: 1px;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: var(--color-white);
    border: 1px solid var(--color-dimgray);
    box-sizing: border-box;
    width: 425px;
    height: 51px;
  }
  .div {
    position: absolute;
    top: 0;
    left: 24px;
    letter-spacing: 0.1em;
    font-weight: 900;
    display: inline-block;
    width: 377px;
    height: 45px;
  }
  .rectangle-parent {
    position: absolute;
    top: 459px;
    left: 638px;
    width: 425px;
    height: 52px;
    text-align: center;
    font-size: 32px;
    color: var(--color-gray);
    font-family: var(--font-inter);
  }
  .group-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: var(--color-white);
    border: 1px solid var(--color-dimgray);
    box-sizing: border-box;
    width: 425px;
    height: 51px;
  }
  .new-password {
    position: absolute;
    top: 3px;
    left: 24px;
    letter-spacing: 0.1em;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 377px;
    height: 45px;
  }
  .rectangle-group {
    position: absolute;
    top: 601px;
    left: 638px;
    width: 425px;
    height: 51px;
    font-size: 20px;
    color: var(--color-gray);
    font-family: var(--font-inter);
  }
  .current-password,
  .new-password1 {
    position: absolute;
    top: 405px;
    left: calc(50% + 36px);
    font-size: var(--font-size-5xl);
    font-weight: 600;
    display: inline-block;
    width: 189px;
    height: 34px;
  }
  .new-password1 {
    top: 543px;
    left: calc(50% + 54px);
    text-align: center;
    width: 154px;
  }
  .submit {
    position: relative;
    letter-spacing: 0.28em;
    font-weight: 900;
  }
  .submit-wrapper {
    position: absolute;
    top: 701px;
    left: 638px;
    border-radius: 40px;
    background-color: #2ece8c;
    width: 425px;
    height: 51px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .are-you-sure {
    position: absolute;
    top: 676px;
    left: calc(50% - 27px);
    font-size: 15px;
    font-weight: 500;
    color: var(--theme-color-grey-5);
    display: inline-block;
    width: 316px;
    height: 20px;
  }
  .change-password {
    position: relative;
    background-color: #e4e7ff;
    width: 100%;
    height: 840px;
    overflow: hidden;
    text-align: left;
    font-size: var(--heading-heading-4-size);
    color: var(--theme-color-dark);
    font-family: var(--heading-heading-4);
  }
  