.rectangle-1,
.rectangle-1 * {
  box-sizing: border-box;
}
.rectangle-1 {
  background: rgba(127, 90, 240, 0.2);
  width: 1443px;
  height: 333px;
  position: relative;
}
    .jalan-raya-setu-no-36-setu-cipayung-jakarta-timur-13880,
.jalan-raya-setu-no-36-setu-cipayung-jakarta-timur-13880 * {
  box-sizing: border-box;
}
.jalan-raya-setu-no-36-setu-cipayung-jakarta-timur-13880 {
  color: #010101;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: relative;
  width: 268px;
  height: 43px;
  margin-left: 870px;
  bottom: 120px;
}
.lokasi,
.lokasi * {
  box-sizing: border-box;
}
.lokasi {
  color: #000000;
  text-align: center;
  font: 500 20px "Poppins", sans-serif;
  position: relative;
  width: 113px;
  height: 27px;
  margin-left: 850px;
  bottom: 125px;
}
.hubungi-kami,
.hubungi-kami * {
  box-sizing: border-box;
}
.hubungi-kami {
  color: #000000;
  text-align: left;
  font: 500 20px "Poppins", sans-serif;
  position: relative;
  width: 160px;
  height: 27px;
  margin-left: 100px;
  top: 50px;
}
.wa-0813-1881-2566,
.wa-0813-1881-2566 * {
  box-sizing: border-box;
}
.wa-0813-1881-2566 {
  color: #000000;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: relative;
  width: 163px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 100px;
  top: 60px;
}
.ig-washeeclean,
.ig-washeeclean * {
  box-sizing: border-box;
}
.ig-washeeclean {
  color: #000000;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: relative;
  width: 146px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 100px;
  top: 70px;
}
.fb-washee-clean,
.fb-washee-clean * {
  box-sizing: border-box;
}
.fb-washee-clean {
  color: #000000;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: relative;
  width: 145px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 100px;
  top: 80px;
}
.menu,
.menu * {
  box-sizing: border-box;
}
.menu,
.menu * {
  box-sizing: border-box;
}
.menu {
  color: #000000;
  text-align: left;
  font: 500 20px "Poppins", sans-serif;
  position: relative;
  width: 65px;
  height: 27px;
  margin-left: 500px;
  bottom: 30px;
}
.beranda,
.beranda * {
  box-sizing: border-box;
}
.beranda {
  color: #000000;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  text-decoration: underline;
  position: relative;
  width: 73px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 500px;
  bottom: 30px;
}
.tentang-kami,
.tentang-kami * {
  box-sizing: border-box;
}
.tentang-kami {
  color: #000000;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  text-decoration: underline;
  position: relative;
  width: 113px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 500px;
  bottom: 20px;
}
.layanan,
.layanan * {
  box-sizing: border-box;
}
.layanan {
  color: #000000;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  text-decoration: underline;
  position: relative;
  width: 73px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 500px;
  bottom: 10px;
}
.reservasi,
.reservasi * {
  box-sizing: border-box;
}
.reservasi {
  color: #000000;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  text-decoration: underline;
  position: relative;
  width: 82px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 500px;
  bottom: 0px
}
.senin-jumat-08-00-18-00-sabtu-minggu-09-00-17-00,
.senin-jumat-08-00-18-00-sabtu-minggu-09-00-17-00 * {
  box-sizing: border-box;
}
.senin-jumat-08-00-18-00-sabtu-minggu-09-00-17-00,
.senin-jumat-08-00-18-00-sabtu-minggu-09-00-17-00 * {
  box-sizing: border-box;
}
.senin-jumat-08-00-18-00-sabtu-minggu-09-00-17-00 {
  color: #010101;
  text-align: left;
  font: 400 15px "Poppins", sans-serif;
  position: relative;
  width: 230px;
  height: 48px;
  top: 25px;
}
.ikuti-kami-di,
.ikuti-kami-di * {
  box-sizing: border-box;
}
.ikuti-kami-di {
  color: #000000;
  text-align: left;
  font: 500 20px "Poppins", sans-serif;
  position: relative;
  width: 138px;
  height: 27px;
  margin-left: 330px;
  bottom: 115px;
}
.image-15,
.image-15 * {
  box-sizing: border-box;
}
.image-15 {
  width: 42px;
  height: 40px;
  position: relative;
  margin-left: 320px;
  bottom: 100px;
}
.image-14,
.image-14 * {
  box-sizing: border-box;
}
.image-14 {
  width: 42px;
  height: 40px;
  position: relative;
  margin-left: 400px;
  bottom: 143px;
}
.rectangle-35,
.rectangle-35 * {
  box-sizing: border-box;
}
.rectangle-35 {
  background: rgba(39, 35, 67, 0.7);
  width: 1560px;
  height: 20px;
  position: relative;
  right: 990px;
}
.copyright-anggora-learning-x,
.copyright-anggora-learning-x * {
  box-sizing: border-box;
}
.copyright-anggora-learning-x {
  color: black;
  text-align: left;
  font: 500 20px "Poppins", sans-serif;
  position: relative;
  width: 344px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  bottom: 23px;
  right:  220px;
}
.image-16,
.image-16 * {
  box-sizing: border-box;
}
.image-16 {
  width: 23px;
  height: 23px;
  position: relative;
  bottom: 45px;
  right:  250px;
}

