@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Inter:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  background: #e4e7ff;
  display: flex;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 1260px) {
  aside {
  align-items: flex-start;
  margin-left: 60px;
  margin-top: 20px;
  width: 200px;
}
.left-span {
  display: flex;
  margin-top: 20px;
  margin-left: -15px;
}
.m-top {
  margin-top: 30px;
}
.m-top > a > span > img {
  width: 20px;
}
.left-span > a {
  text-decoration: none;
  display: flex;
  margin-left: -20px;
  margin-top: 10px;
  height: 40px;
  width: 190px;
  border-radius: 20px;
  padding-left: 10px;
}
.left-span > a:hover {
  background-color: rgba(0, 255, 150, 0.3);
}
.left-span > a > span:hover {
  font-size: 19px;
  font-weight: bold;
}
.left-span > a > span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--theme-color-dark, #464255);
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.left-span > a > span > img {
  margin-right: 10px;
}
.last > a > span > img {
  width: 18px;
}
main {
  margin-left: auto;
  margin-right: 30px;
  border-radius: 30px 30px 0px 0px;
  background: #fff;
  width: 1050px;
  min-height: 1000px;
}
.top {
  width: 100%;
  height: 70px;
  border-radius: 30px 30px 0px 0px;
  background: rgba(0, 255, 150, 0.3);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.top > a {
  margin-left: 50px;
}
.top > a > img {
  width: 26px;
}
.top > a > img:hover {
  width: 31px;
}
.right {
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.right > a {
  margin: 15px;
}
.right > a > img {
  width: 25px;
}
.right > img {
  margin-left: 30px;
}
.right > a > img:hover {
  width: 31px;
}
.span {
  margin-top: 30px;
  margin-left: 40px;
}
.p {
  width: fit-content;
  height: 40px;
}
.top-span {
  color: var(--theme-color-dark, #464255);
  font-family: Barlow;
  font-size: 24px;
  font-weight: 600;
}
.bottom-span {
  color: var(--theme-color-grey-5, #a3a3a3);
  font-family: Barlow;
  font-size: 15px;
  font-weight: 500;
}
.container > div:nth-child(1),
.container > div:nth-child(2),
.container > div:nth-child(3),
.container > div:nth-child(4) {
  > label {
    margin: 15px 0px 0px 43px;
    color: #010101;
    text-align: center;
    font-family: Heebo;
    font-size: 19px;
    font-weight: 400;
  }
  > input {
    margin-left: 40px;
    font-size: 17px;
    font-weight: lighter;
    padding: 7px;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 90%;
    height: 40px;
    border-radius: 5px;
  }
}
.container > div:nth-child(5) {
  > label {
    margin: 7px 0px 0px 43px;
    color: #010101;
    text-align: center;
    font-family: Heebo;
    font-size: 19px;
    font-weight: 400;
  }
  > input {
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 17px;
    padding: 7px;
    margin-top: 3px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 90%;
    height: 40px;
    border-radius: 5px;
  }
}
.container > div:nth-child(6) {
  > label {
    margin: 7px 0px 0px 43px;
    color: #010101;
    text-align: center;
    font-family: Heebo;
    font-size: 19px;
    font-weight: 400;
  }
  > input {
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 17px;
    padding: 10px;
    margin-top: 3px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 89.4%;
    min-height: 100px;
    border-radius: 5px;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 20px 40px 20px 20px;
  margin-left: 2rem;
}
.dropdown > img:hover {
  transform: scale(1.2)
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  min-height: 80px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 30px;
  margin-top: 5px;
  padding: 15px 20px 15px 20px;
}
.dropdown-content > a > img {
  margin-right: 15px;
  width: 19px;
}
.dropdown-content a {
  color: var(--theme-color-dark, #464255);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.dropdown-content > a:first-child > img {
  width: 18px;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all .3s ease;
}
.container {
  width: 100%;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
}
.link {
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}
.link > a {
  margin-left: 53.2rem;
  width: fit-content;
  height: inherit;
}
.top-img {
  margin-top: 40px;
  width: 100%;
  height: 340px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bottom-img {
  margin-top: 20px;
  width: 100%;
  height: 340px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.skin {
  width: fit-content;
  height: 300px;
}
.skin > form {
  display: flex;
  align-items: center;
}

.input {
  margin-left: auto;
}
.layanan-gambar {
  margin-bottom: 5px;
  padding: 2px;
  border-radius: 10px;
  background-color: #1e90ff;
  width: 200px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .layanan-gambar > img {
  width: 80px;
  padding-bottom: 15px;
  }
  .layanan-gambar > span {
  color: white;
  font-size: 26px;
  font-family: Itim;
  text-decoration: #1fde8f;
  }
.button_submit {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
}
main > i {
  position: relative;
  top: -345px;
  left: 715px;
}
}

@media only screen and (max-width: 1259px) {
  aside {
  align-items: flex-start;
  margin-left: 5px;
  margin-top: 20px;
  width: 21%;
}
aside > a > img {
  width: 90%;
}
.left-span {
  display: flex;
}
.m-top {
  margin-top: 10px;
}
.m-top > a > span > img {
  width: 20px;
}
.left-span > a {
  text-decoration: none;
  display: flex;
  margin-left: -5px;
  margin-top: 10px;
  height: 35px;
  width: 100px;
  border-radius: 20px;
}

.left-span > a > span {
  color: var(--theme-color-dark, #464255);
  font-family: Barlow;
  font-size: 67%;
  font-weight: 500;
}
.left-span > a > span > img {
  margin-right: 5px;
}
.last > a > span > img {
  width: 14px;
}
main {
  margin-left: auto;
  border-radius: 30px 30px 0px 0px;
  background: #fff;
  width: 100%;
  min-height: 700px;
}
.top {
  width: 100%;
  height: 70px;
  border-radius: 30px 30px 0px 0px;
  background: rgba(0, 255, 150, 0.3);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.top > a > img {
  width: 26px;
}
.top > a > img:hover {
  width: 31px;
}
.right {
  margin-left: auto;
  margin-right: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.right > a {
  margin: 10px;
}
.right > a > img {
  width: 25px;
}
.right > img {
  margin-left: 10px;
}
.right > a > img:hover {
  width: 31px;
}
.span {
  margin-top: 30px;
  margin-left: 40px;
}
.p {
  width: fit-content;
  height: 40px;
}
.top-span {
  color: var(--theme-color-dark, #464255);
  font-family: Barlow;
  font-size: 24px;
  font-weight: 600;
}
.bottom-span {
  color: var(--theme-color-grey-5, #a3a3a3);
  font-family: Barlow;
  font-size: 15px;
  font-weight: 500;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 20px 40px 20px 10px;
  margin-left: 2rem;
}
.dropdown > img:hover {
  transform: scale(1.2)
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  min-height: 80px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 30px;
  margin-top: 5px;
  padding: 15px 20px 15px 20px;
}
.dropdown-content > a > img {
  margin-right: 15px;
  width: 19px;
}
.dropdown-content a {
  color: var(--theme-color-dark, #464255);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.dropdown-content > a:first-child > img {
  width: 18px;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all .3s ease;
}
.container {
  width: 100%;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
}
.link {
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}
.link > a {
  margin-left: 45%;
  width: fit-content;
  height: inherit;
}
.top-img {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bottom-img {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.skin {
  width: fit-content;
}
.skin > form {
  display: flex;
  align-items: center;
}
.input {
  margin-left: auto;
}
.layanan-gambar {
  margin-bottom: 5px;
  padding: 2px;
  border-radius: 10px;
  background-color: #1e90ff;
  width: 80px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .layanan-gambar > img {
  width: 40px;
  padding-bottom: 15px;
  }
  .layanan-gambar > span {
  color: white;
  font-size: 15px;
  font-family: Itim;
  text-decoration: #1fde8f;
  }
.button_submit {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
}
main > i {
  position: relative;
  top: -345px;
  left: 715px;
}
.container > div:nth-child(1),
  .container > div:nth-child(2),
  .container > div:nth-child(3),
  .container > div:nth-child(4) {
    > label {
      margin: 10px 0px 0px 17px;
      color: #010101;
      text-align: center;
      font-family: Heebo;
      font-size: 14px;
      font-weight: 400;
    }
    > input {
      font-size: 13px;
      font-weight: lighter;
      padding: 5px;
      width: 85%;
      margin-left: 15px;
      margin-bottom: 10px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      height: 30px;
      border-radius: 3px;
    }
  }
  .container > div:nth-child(5) {
    > label {
      margin: 7px 0px 0px 17px;
      color: #010101;
      text-align: center;
      font-family: Heebo;
      font-size: 14px;
      font-weight: 400;
    }
    > input {
      font-size: 13px;
      padding: 10px;
      margin-top: 3px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      width: 81.5%;
      margin-left: 15px;
      margin-bottom: 10px;
      height: 30px;
      border-radius: 5px;
    }
  }
  .container > div:nth-child(6) {
    > label {
      margin: 7px 0px 0px 17px;
      color: #010101;
      text-align: center;
      font-family: Heebo;
      font-size: 14px;
      font-weight: 400;
    }
    > input {
      font-size: 13px;
      padding: 10px;
      margin-top: 3px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      width: 81.5%;
      margin-left: 15px;
      margin-bottom: 10px;
      height: 70px;
      border-radius: 5px;
    }
  }
}

.button_submit:hover {
  cursor: pointer;
  transform: scale(1.1);
}