<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="../static/img/image2.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="../static/css/account.css" />
    <link rel="stylesheet" href="../static/css/admin.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Khand:wght@400&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap"/>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
<style>

</style>
  </head>
  <body>
    <aside>
      <a href="/account"><img src="../static/img/image2.png" /></a>
      <div class="left-span m-top"><a href="/dashboard"><span><img src="../static/Icon/layout.png"/>Dashboard</span></a></div>
      <div class="left-span"><a href="/order_list"><span><img src="../static/Icon/list.png"/>Order List</span></a></div>
      <div class="left-span"><a href="/"><span><img src="../static/Icon/Done_round.png"/>Customer Web</span></a></div>
      <div class="left-span"><a href="/account"><span><img src="../static/Icon/fi-rr-unlock.png"/>Account</span></a></div>
    </aside>
    <main>
      <div class="top">
        <div class="dropdown">
            <img src="../static/Icon/fi-rr-settings.png" alt="">
            <div class="dropdown-content">
              <a href="/acc"><img src="../static/Icon/user.png">Create Account</a>
              <hr>
              <a href="/logout"><img src="../static/Icon/fi-rr-sign-in.png">Log Out</a>
              <hr>
            </div>
        </div>
        <div class="right">
          <a href="/dashboard"><img src="../static/Icon/layout.png" /></a>
          <a href="/order_list"><img src="../static/Icon/list2.png" /></a>
          <img src="../static/Icon/Ellipse 1.png" />
        </div>
      </div>
      
      <div class="span">
        <div class="p"><span class="top-span">Accounts</span><br /></div>
      </div>
    {% for def in data%}{% set username= def.username%}{% set password= def.password%}{% set _id= def._id%}
       <form action="" method="post">
      <div class="password">
        <span>Username</span><br>
        <input class="input-two" name="Username" type="text" id="username" value="{{username}}" placeholder="Username"/><br>
        <span class="m-top">Password</span><br>
        <input class="input-two" name="Password" type="password" id="password" value="{{password}}" placeholder="Password"/>
        <div class="buttons">
            <a class="btn1" href="changepw?_id={{_id}}">Change Pw</a>
            <a class="btn2" href="delete?_id={{_id}}">Detele Acc</a>
        </div>
      </div>
      </form>
      {%endfor%}
    </main>
  </body>
</html>
