<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="../static/css/Changepassword.css" />
    <link rel="stylesheet" href="../static/css/admin.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Khand:wght@400&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap"/>
    <link rel="shortcut icon" type="image/png" href="../static/img/image2.png">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
      function baru(){
        let username=$('#username').val()
        let password=$('#password').val()

        $.ajax({
          type:'POST',
          url:'/acc',
          data:{
            username:username,
            password:password
          },
          success:function(response){
            alert('Account berhasil dibuat')
            window.location.href = '/order_list'
          }
        })
      }
    </script>
  </head>
  <body>
    <aside>
      <a href="/acc"><img src="../static/img/image2.png" /></a>
      <div class="left-span m-top"><a href="/dashboard"><span><img src="../static/Icon/layout.png"/>Dashboard</span></a></div>
      <div class="left-span"><a href="/order_list"><span><img src="../static/Icon/list.png"/>Order List</span></a></div>
      <div class="left-span"><a href="/"><span><img src="../static/Icon/Done_round.png"/>Customer Web</span></a></div>
      <div class="left-span"><a href="/account"><span><img src="../static/Icon/fi-rr-unlock.png"/>Account</span></a></div>
    </aside>
    <main>
      <div class="top">
        <div class="dropdown">
            <img src="../static/Icon/fi-rr-settings.png" alt="">
            <div class="dropdown-content">
              <a href="/acc"><img src="../static/Icon/fi-rr-unlock.png">Create Account</a>
              <hr>
              <a href="/logout"><img src="../static/Icon/fi-rr-sign-in.png">Log Out</a>
              <hr>
            </div>
        </div>
       <div class="right">
          <a href="/dashboard"><img src="../static/Icon/layout.png" /></a>
          <a href="/order_list"><img src="../static/Icon/list2.png" /></a>
          <img src="../static/Icon/Ellipse 1.png" />
        </div>
        </div>
      </div>
      <div class="avatar">
        <img src="../static/Icon/Ellipse 2.png" />
      </div>
      
      <form action="" method="post">
      <div class="password">
        <span>Username</span>
        <input class="input-two" name="Username" type="text" id="username"  placeholder="Username"/>
        <span class="m-top">Password</span>
        <input class="input-two" name="Password" type="password" id="password" placeholder="Password"/>
        <p>Are you sure you want to create an account?</p>
        <button type="submit" onclick="baru()">Create Account</button>
      </div>
      </form>
      
    </main>
  </body>
</html>



    