<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href="../static/img/image2.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>
    <link rel="import" href="../script/service_detail">
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/second.css" />
    <link rel="stylesheet" href="../static/css/third.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
      function tambah(){
        let nama=$('#nama').val()
        let whatsapp=$('#whatsapp').val()
        let jenis_laundry=$('#jenis_laundry').val()
        let waktu_jemput=$('#waktu_jemput').val()
        let alamat=$('#alamat').val()
        let pesan=$('#pesan').val()

        $.ajax({
          type:'POST',
          url:'/',
          data:{
            nama:nama,
            whatsapp:whatsapp,
            jenis_laundry:jenis_laundry,
            waktu_jemput:waktu_jemput,
            alamat:alamat,
            pesan:pesan
          },
          success:function(response){
            alert('berhasil')
            window.location.href = '/'
          }
        })
      }
    </script>
    <title>Washee Home Service</title>
  </head>
  <body>
    <nav class="flex-row">
      <img src="../static/img/image1.png" />
      <div class="navigasi">
        <a href="#beranda">Beranda</a>
        <a href="#Tentang-kami">Tentang Kami</a>
        <a href="#layanan"><img src="../static/Icon/10-percent.png" />Layanan</a>
        <a href="#reservasi">Reservasi</a>
        <a href="#footer">Contact</a>
      </div>
    </nav>
    <div class="main" id="beranda">
      <div class="font-top">
        <p>Washee Home Service</p>
        <h3>Berkualitas, Terjangkau dan Nyaman</h3>
      </div>
      <img src="../static/img/Top.png" />
      </div>
    </main>
    <div id="Tentang-kami" class="Tentang-kami">
      <div class="tentang-kami-img">
        <img src="../static/img/image1.png" />
      </div>

      <div class="star">
        <img
          src="../static/Icon/empty-star.png"
          alt="bintang-off"
          onmouseover="this.src='../static/Icon/filled-star.png'"
          onmouseout="this.src='../static/Icon/empty-star.png'"
        />
        <img
          src="../static/Icon/empty-star.png"
          alt="bintang-off"
          onmouseover="this.src='../static/Icon/filled-star.png'"
          onmouseout="this.src='../static/Icon/empty-star.png'"
        />
        <img
          src="../static/Icon/empty-star.png"
          alt="bintang-off"
          onmouseover="this.src='../static/Icon/filled-star.png'"
          onmouseout="this.src='../static/Icon/empty-star.png'"
        />
        <img
          src="../static/Icon/empty-star.png"
          alt="bintang-off"
          onmouseover="this.src='../static/Icon/filled-star.png'"
          onmouseout="this.src='../static/Icon/empty-star.png'"
        />
        <img
          src="../static/Icon/empty-star.png"
          alt="bintang-off"
          onmouseover="this.src='../static/Icon/filled-star.png'"
          onmouseout="this.src='../static/Icon/empty-star.png'"
        />
      </div>
    </div>
    <div id="rekomendasi" class="rekomendasi flex-row">
      <div class="left">
        <h3>Apa yang membedakan kami dari yang lain?</h3>
        <h4>
          komitmen kami terhadap kualitas tanpa kompromi. Dengan peralatan
          modern dan tenaga ahli yang berpengalaman, kami memastikan bahwa
          setiap pakaian Anda diperlakukan dengan penuh perhatian, mencapai
          tingkat kebersihan dan kenyamanan tertinggi.
        </h4>

        <h4>
          <strong>Selain itu,</strong>kami mengutamakan kenyamanan pelanggan
          dengan menyediakan layanan pengambilan dan pengantaran yang efisien
          serta sistem reservasi online yang mudah.
        </h4>
      </div>
      <div class="right">
        <img src="../static/img/AdobeStock_270753549.jpeg" />
      </div>
    </div>
    <div class="discount">
      <span>Discount 10% Untuk Setiap Pesanan!</span>
    </div>
    <div class="layanan" id="layanan" name="layanan">
      <div class="layanan-top">
        <h1>Layanan Kami</h1>
      </div>
      <div class="isi-layanan flex-col">
        <div class="atas flex-row">
          <a style="text-decoration: none" href="kiloan">
            <div class="gb-layanan">
              <div class="layanan-gambar flex-col">
                <img src="../static/Icon/10-percent.png" />
                <img src="../static/Icon/laundry-machine.png" />
                <span><center>Laundry Kiloan</center></span>
              </div>
            </div>
          </a>
          <a style="text-decoration: none" href="sepatu">
            <div class="gb-layanan">
              <div class="layanan-gambar flex-col">
                <img src="../static/Icon/10-percent.png" />
                <img src="../static/Icon/sneakers.png" />
                <span><center>Laundry Sepatu</center></span>
              </div>
            </div>
          </a>
          <a style="text-decoration: none" href="springbed">
            <div class="gb-layanan">
              <div class="layanan-gambar flex-col">
                <img src="../static/Icon/10-percent.png" />
                <img src="../static/Icon/double-bed.png" />
                <span><center>Laundry Springbed</center></span>
              </div>
            </div>
          </a>
        </div>

        <div class="bawah flex-row">
          <a style="text-decoration: none" href="karpet">
            <div class="gb-layanan">
              <div class="layanan-gambar flex-col">
                <img src="../static/Icon/10-percent.png" />
                <img src="../static/Icon/carpet.png" />
                <span><center>Laundry Karpet</center></span>
              </div>
            </div>
          </a>
          <a style="text-decoration: none" href="tas">
            <div class="gb-layanan">
              <div class="layanan-gambar flex-col">
                <img src="../static/Icon/10-percent.png" />
                <img src="../static/Icon/school-bag.png" />
                <span><center>Laundry Tas</center></span>
              </div>
            </div>
          </a>
          <a style="text-decoration: none" href="stroller">
            <div class="gb-layanan">
              <div class="layanan-gambar flex-col">
                <img src="../static/Icon/10-percent.png" />
                <img src="../static/Icon/baby-stroller.png" />
                <span><center>Laundry Stroller</center></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div id="reservasi" class="reservasi">
       <img src="../static/img/Laundry.jpg">
        <div class="rectangle">
          <div class="judul">
           <div class="judul-atas">
            <h1>Kami akan mengubah pakaian kotor menjadi berseri untuk Anda</h1>
           </div>
           <div class="judul-bawah">
            <h3>Pesan sekarang untuk pengalaman laundry luar biasa</h3>
           </div>
          </div>
           <form class="container" action="" method="post">
            <div>
              <label><strong>Nama</strong></label><br>
            <input id="nama" type="text" placeholder="Nama">
            </div>
           <div id="myMultiselect" class="multiselect">
            <label><strong>Jenis Laundry</strong></label><br>
      <div id="mySelectLabel" class="selectBox" onclick="toggleCheckboxArea()">
        <select class="form-select" id="jenis_laundry">
          <option></option>
        </select>
        <div class="overSelect"></div>
      </div>
      <div id="mySelectOptions">
        <label for="kiloan"><input type="checkbox" id="kiloan" onclick="handleCheckboxClickOne(this)" onchange="checkboxStatusChange()" value="kiloan" /> Kiloan</label>
        <label for="sepatu"><input type="checkbox" id="sepatu" onclick="handleCheckboxClickTwo(this)" onchange="checkboxStatusChange()" value="sepatu" /> Sepatu</label>
        <label for="springbed"><input type="checkbox" id="springbed" onclick="handleCheckboxClickThree(this)" onchange="checkboxStatusChange()" value="springbed" /> Springbed</label>
        <label for="karpet"><input type="checkbox" id="karpet" onclick="handleCheckboxClickFour(this)" onchange="checkboxStatusChange()" value="karpet" /> Karpet</label>
        <label for="tas"><input type="checkbox" id="tas" onclick="handleCheckboxClickFive(this)" onchange="checkboxStatusChange()" value="tas" /> Tas</label>
        <label for="stroller"><input type="checkbox" id="stroller" onclick="handleCheckboxClickSix(this)" onchange="checkboxStatusChange()" value="stroller" /> Stroller</label>
      </div>
    </div>
            <div>
              <label><strong>WhatsApp</strong></label><br>
            <input id="whatsapp" type="number" placeholder="WhatsApp">
            </div>
            <div>
              <label><strong>Waktu Jemput</strong></label><br>
            <input id="waktu_jemput" type="datetime-local" placeholder="Waktu Jemput">
            </div>
            <div>
              <label><strong>Alamat</strong></label><br>
            <input id="alamat" type="text" placeholder="Alamat">
            </div>
            <div>
              <label><strong>Pesan</strong></label><br>
            <input id="pesan" type="text" placeholder="Pesan">
            </div>
            <button type="submit" onclick="tambah()"><img src="../static/Icon/fi-rr-truck-side.png">Pesan Sekarang</button>
          </form>
        </div>
      </div>
      <div class="footer" id="footer" name="footer">
        <div class="top-footer flex-row">
          <div class="left-footer">
          <h1>Hubungi Kami</h1>
          <span>0813-1881-2566</span><br>
          <span>Washeeclean@gmail.com</span><br>
          <span>IG: @washeeclean</span><br>
          <span>FB: Washee clean</span>
        </div>
        <div class="middle-left-footer">
          <h1>Menu</h1>
          <a href="#beranda">Beranda</a><br>
          <a href="#Tentang-kami">Tentang-kami</a><br>
          <a href="#layanan">Layanan</a><br>
          <a href="#reservasi">Reservasi</a>
        </div>
      </div>
        <div class="bottom-footer flex-row">
          <div class="middle-right-footer">
            <h1>Lokasi</h1>
          <span>Jalan Raya Setu no 36 Setu, Cipayung, Jakarta timur, 13880</span><br>
          <span>Senin - Jumat  08.00 - 18.00 Sabtu - Minggu 09.00 - 17.00</span>
          </div>
          <div class="right-footer">
            <h1>Ikuti Kami Di</h1><br>
            <img src="../static/img/instagram.png"><img src="../static/img/facebook.png">
          </div>
        </div>
      </div>
      <div class="copyright">
      <span>Copyright © Anggora LearningX</span>
    </div>
    <script>
      window.onload = (event) => {
  initMultiselect();
};

function initMultiselect() {
  checkboxStatusChange();

  document.addEventListener("click", function (evt) {
    var flyoutElement = document.getElementById("myMultiselect"),
      targetElement = evt.target; 

    do {
      if (targetElement == flyoutElement) {
        return;
      }

      targetElement = targetElement.parentNode;
    } while (targetElement);
    toggleCheckboxArea(true);
  });
}

function checkboxStatusChange() {
  var multiselect = document.getElementById("mySelectLabel");
  var multiselectOption = multiselect.getElementsByTagName("option")[0];

  var values = [];
  var checkboxes = document.getElementById("mySelectOptions");
  var checkedCheckboxes = checkboxes.querySelectorAll(
    "input[type=checkbox]:checked"
  );

  for (const item of checkedCheckboxes) {
    var checkboxValue = item.getAttribute("value");
    values.push(checkboxValue);
  }

  var dropdownValue = "Jenis Laundry";
  if (values.length > 0) {
    dropdownValue = values.join(", ");
  }

  multiselectOption.innerText = dropdownValue;
}

function toggleCheckboxArea(onlyHide = false) {
  var checkboxes = document.getElementById("mySelectOptions");
  var displayValue = checkboxes.style.display;

  if (displayValue != "block") {
    if (onlyHide == false) {
      checkboxes.style.display = "block";
    }
  } else {
    checkboxes.style.display = "none";
  }
}

    </script>
  </body>
</html>
