<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="../static/img/image2.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="../static/css/admin.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Khand:wght@400&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap"/>
  </head>
  <body>
    <aside>
      <a href="/"><img src="../static/img/image2.png" /></a>
      <div class="left-span m-top"><a href="#"><span><img src="../static/Icon/list.png"/>Order List</span></a></div>
      <div class="left-span"><a href="service_detail"><span><img src="../static/Icon/check-pen.png"/>Service Detail</span></a></div>
      <div class="left-span"><a href="completed_order"><span><img src="../static/Icon/Done_round.png"/>Completed Order</span></a></div>
    </aside>
    <main>
      <div class="top">
        <a href=""><img src="../static/Icon/fi-rr-settings.png"/></a>
        <div class="right">
          <a href="#"><img src="../static/Icon/list2.png" /></a>
          <a href="service_detail"><img src="../static/Icon/ceklis.png" /></a>
          <a href="completed_order"><img src="../static/Icon/checked-pen2.png" /></a>
          <img src="../static/Icon/Ellipse 1.png" />
        </div>
      </div>
      <div class="span">
        <div class="p"><span class="top-span">Order List</span><br /></div>
        <span class="bottom-span">Hi, Admin. Welcome back!</span>
      </div>
      <div class="dropdown">
        <button class="mainmenubtn">
          Sabtu<i class="bi bi-chevron-down"></i>
        </button>
        <div class="dropdown-child">
          <a href="order_senin">Senin</a>
          <hr />
          <a href="order_selasa">Selasa</a>
          <hr />
          <a href="order_rabu">Rabu</a>
          <hr />
          <a href="order_kamis">Kamis</a>
          <hr />
          <a href="order_jumat">Jum'at</a>
          <hr />
          <a href="#">Sabtu</a>
          <hr />
          <a href="order_minggu">Minggu</a>
        </div>
      </div>
      <form class="container" action="" method="">
        <div>
          <label><strong>Nama</strong></label><br/>
          <input type="text"/>
        </div>
        <div>
          <label><strong>Jenis Laundry</strong></label><br/>
          <input type="text"/>
        </div>
        <div>
          <label><strong>WhatsApp</strong></label><br/>
          <input type="number"/>
        </div>
        <div>
          <label><strong>Waktu Jemput</strong></label><br/>
          <input type="datetime-local"/>
        </div>
        <div>
          <label><strong>Alamat</strong></label><br/>
          <input type="text"/>
        </div>
        <div>
          <label><strong>Pesan</strong></label><br/>
          <input type="text"/>
        </div>
        <button class="button_submit" type="submit">Completed</button>
      </form>
      
    </main>
  </body>
</html>
